# Config file for automatic testing at travis-ci.org

language: python

python:
  - "3.4"
  - "3.3"
  - "2.7"
  - "2.6"
  - "pypy"

os:
    - linux
    - osx


# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors


before_install:
   - source continuous-integration/travis/install_$TRAVIS_OS_NAME.sh


install:
   - conda install --yes pip    
   - conda install -q --yes numpy=1.8.1
   - conda install --yes pip
   - conda install -q --yes astropy=1.0.3

# command to run tests, e.g. python setup.py test
script: python setup.py test
